<div class="c-side-pane t-toolbar">
    <span style="color:#fff; margin-left:15px">Attributes Names Settings</span>
</div>

<div class="c-config-content">Latitude attribute name:
    <input type="text" ng-model="config.LatName">
</div>
<div class="c-config-content">Longitude attribute name:
    <input type="text" ng-model="config.LngName">
</div>
<div class="c-config-content">Health Attribute:
    <input type="text" ng-model="config.MapAttr">
</div>

Limits:
<div class="c-config-content"> Max:
     <input type="number" ng-model="config.Limits.Max">  
</div>
<div class="c-config-content">HiHi:
     <input type="number" ng-model="config.Limits.HiHi"> 
</div>
<div class="c-config-content">Hi:
      <input type="number" ng-model="config.Limits.Hi"> 
</div>
<div class="c-config-content">Lo:
      <input type="number" ng-model="config.Limits.Lo"> 
</div>
<div class="c-config-content">LoLo:
      <input type="number" ng-model="config.Limits.LoLo"> 
</div>
<div class="c-config-content">Min:
      <input type="number" ng-model="config.Limits.Min"> 
</div>

<div class="c-side-pane t-toolbar">
    <span style="color:#fff; margin-left:15px">Marker Color</span>
</div>

    
    <div class="config-option-format">   
            <pv-color-picker colorkeyword="Max-HiHi" ng-model="config.COLORS.HiHitoMax" config="config"></cs-color-picker>
    </div>
    <div class="config-option-format">   
            <pv-color-picker colorkeyword="HiHi-Hi" ng-model="config.COLORS.HitoHiHi" config="config"></cs-color-picker>
    </div>
    <div class="config-option-format">   
            <pv-color-picker colorkeyword="Hi-Lo" ng-model="config.COLORS.LotoHi" config="config"></cs-color-picker>
    </div>
    <div class="config-option-format">   
            <pv-color-picker colorkeyword="Lo-LoLo" ng-model="config.COLORS.LoLotoLo" config="config"></cs-color-picker>
    </div>
    <div class="config-option-format">   
            <pv-color-picker colorkeyword="Min-Lo" ng-model="config.COLORS.MintoLoLo" config="config"></cs-color-picker>
    </div>
    <div class="config-option-format">   
            <pv-color-picker colorkeyword="Min" ng-model="config.COLORS.Min" config="config"></cs-color-picker>
    </div>
    <div class="config-option-format">   
            <pv-color-picker colorkeyword="Bad Value" ng-model="config.COLORS.BadData" config="config"></cs-color-picker>
    </div>
<!-- <format-color-picker id="textColor" property="MarkerColor" config="config"></format-color-picker> -->





<div class="c-side-pane t-toolbar">
    <span style="color:#fff; margin-left:15px">Map Options</span>
</div>

<div class="c-config-content">
    Show Zoom Control:
    <input type="checkbox" ng-model="config.ZoomControl">
</div>

<div class="c-config-content">
    Select Zoom level:
    <input type="text" ng-model="config.ZoomLevel">
</div>


<div class="c-config-content">
    Disable Default UI:
    <input type="checkbox" ng-model="config.DisableDefaultUI">
</div>

<div class="c-config-content">
    Show Scale Control:
    <input type="checkbox" ng-model="config.ScaleControl">
</div>

<div class="c-config-content">
    Show Street View Control:
    <input type="checkbox" ng-model="config.StreetViewControl">
</div>

<div class="c-config-content">
    Show Map Type Control:
    <input type="checkbox" ng-model="config.MapTypeControl">
</div>

<div class="c-config-content">
    Select Map Type:
    <select name="singleSelect" ng-model="config.MapTypeId">
        <option value="HYBRID">Hybrid</option>
        <option value="TERRAIN">Terrain</option>
        <option value="ROADMAP">Roadmap</option>
        <option value="SATELLITE">Satellite</option>
    </select><br>
</div>

<div class="c-config-content">
    Open infobox on mouseover:
    <input type="checkbox" ng-model="config.OpenInfoBox">
</div>

<div class="c-config-content">
    Fit map bounds for multiple markers frequently:
    <input type="checkbox" ng-model="config.FitBounds">
</div>

